@(name: String)
<!DOCTYPE html>

<meta charset="utf-8" />

<title>Game</title>
<head>
<style>
body {
    background: url('/assets/images/grass.png');
}
#textbox1 {
    position: fixed;
    right: 5px;
}
.square {
	background: url('/assets/images/char.png');
	width:32px;
	height:48px;
	position:absolute;
}
.chatbox {
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    position:absolute;
    padding: 2px;

}
</style>
<script language="javascript" type="text/javascript">

 var ref = window.location.href.substr(7);
  var wsUri = "ws://"+ref.substr(0, ref.indexOf('/'))+"/ws";
  var output;
  var moves = [];
  var myId = 0;
  var canMove = true;
  var nick = "@name";

  function init()
  {
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) { };
    websocket.onclose = function(evt) { alert('disconnected'); };
    websocket.onmessage = function(evt) { onMessage(evt) };
	window.setInterval(updatePosition, 10);

      document.getElementById("textbox1").onkeypress = function(e){
       if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == '13'){
          command("say", {"msg": nick+": "+this.value});
          this.value = "";
          return false;
        }
      };
  }

  function onMessage(evt) {
	data = JSON.parse(evt.data);
	handle(data.action, data.id, data.params);
  }

  function onError(evt) {
    alert('error ' + evt);
  }

  function send(message) {
    websocket.send(JSON.stringify(message));
  }

  function command(action, params) {
    send({"action": action, "params": params});
  }
  
  function handle(action, id, params) {
	  switch(action) {
		case "move":
		moves.push({id: id, x: params.x, y: params.y, frame: 0});
		break;
		case "connected":
		para = document.createElement("div");
		para.id = params.id;
		para.className = "square";
		para.style.left = params.x+"px";
		para.style.top = params.y+"px";
		document.getElementById("scene").appendChild(para);
		break;
		case "initialize":
		con = params.connections;
		for (i = 0; i < con.length; i++) {
			para = document.createElement("div")
			para.id = con[i].id;
			para.className = "square";
			para.style.left = con[i].x+"px";
			para.style.top = con[i].y+"px";
			document.getElementById("scene").appendChild(para);
		}
		break;
		case "disconnected":
            document.getElementById("scene").removeChild(document.getElementById(params.id));
		break;
		case "hi":
            myId = id;
            break;
        case "say":
            para = document.createElement("div");
            para.id = id+"chat";
            para.className = "chatbox";
            para.style.left = document.getElementById(id).style.left;
            para.style.top = (parseInt(document.getElementById(id).style.top)-20)+"px";
            document.getElementById("scene").appendChild(para);
            para.innerHTML = params.msg;
            interval = setInterval(function(){
                document.getElementById(id+"chat").style.left = document.getElementById(id).style.left;
                document.getElementById(id+"chat").style.top = (parseInt(document.getElementById(id).style.top)-20)+"px";
            }, 10);
            setTimeout(function(){
                clearInterval(interval);
                document.getElementById("scene").removeChild(document.getElementById(id+"chat"));
            },5000);
	  }
  };

  window.onclick=function(event){
      if (canMove) {
        command("move", {"x": event.clientX-16, "y": event.clientY-45});
        canMove = false;
      }
  };
  
  function updatePosition() {
	  nextArr = [];
	  document.getElementById("textbox1").focus();
	  for (i = 0; i < moves.length; i++) {
		  node = document.getElementById(moves[i].id);
		  currX = parseInt(node.style.left);
		  currY = parseInt(node.style.top);
		  console.log(moves[i].frame);
		  var dir = 0;
		  if (currX < moves[i].x)
		     dir = 1;
          else if (currX > moves[i].x)
             dir = 2;
          else if (currY > moves[i].y)
             dir = 3;
             //background-position: -100px 0;
          node.style.backgroundPosition = "-"+(Math.floor(moves[i].frame/10)%4*32)+"px -"+(dir*48)+"px";

		  if (currX < moves[i].x)
		     currX ++;
		  else if (currX > moves[i].x)
		     currX --;
		  if (currY < moves[i].y)
		     currY ++;
		  else if (currY > moves[i].y)
		     currY --;
		  node.style.left = currX+"px";
		  node.style.top = currY+"px";
		  if (currX != moves[i].x || currY != moves[i].y) {
		     moves[i].frame++;
		     nextArr.push(moves[i]);
          }
          else if (moves[i].id == myId) {
             canMove = true;
             node.style.backgroundPosition = "0px -"+(dir*48)+"px";
          }
	  }
	  moves = nextArr;
  }

  window.addEventListener("load", init, false);



</script>
</head>
<body>
<div id="scene">
</div>
<input id="textbox1" type="text" name="fname"/>
</body>